@model Fortificar.Models.Projeto

@{
    ViewData["Title"] = "Aprovar projeto";
}

<h1>@ViewData["Title"]</h1>
    <hr />

<h3>Você tem certeza que deseja aprovar o projeto?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Objetivo Geral:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ObjetivoGeral)
        </dd>
    </dl>


    <hr />
    <div class="form-floating mb-3">
        <input readonly id="Destinatario" asp-for="Proponente.EmailEmpresa" class="form-control" placeholder="Email" />
        <label asp-for="Proponente.EmailEmpresa">Email da Empresa</label>
        <span asp-validation-for="Proponente.EmailEmpresa" class="text-danger"></span>
    </div>
    <input placeholder="Assunto" type="text" id="Assunto" class="form-control col-sm-6" />
    <textarea placeholder="Mensagem" type="text" id="Texto" class="form-control col-sm-6" ></textarea>
    <hr />
    <button asp-controller="Emails" type="button" class="btn btn-success" onclick="Aprovar()" id="Aprovar">
        <i class="fa fa-envelope" style="font-size:36px;">Aprovar</i>
    </button>
    <hr />

    <h4 id="RetornoMsg"></h4>


    <script>
        setTimeout(function () {
            $('#Destinatario').focus();
            $('#Destinatario').select();
        }, 200);

        var Aprovar = function () {
            $("#Aprovar").html('<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span><b>Aguarde...</b></span>');
            $('#Aprovar').attr('disabled', 'disabled');
            $("#RetornoMsg").html('');

            var _Destinatario = $('#Destinatario').val();
            console.log(_Destinatario);
            var _Texto = $('#Texto').val();
            var _Assunto = $('#Assunto').val();

            $.ajax({
                type: "POST",
                url: "/Emails/Enviar?Destinatario=" + encodeURIComponent(_Destinatario) +
                    "&Texto=" + encodeURIComponent(_Texto) +
                    "&Assunto=" + encodeURIComponent(_Assunto)
                ,
                success: function (result) {
                    setTimeout(function () {
                        $("#Aprovar").html('<i class="fa fa-envelope" style="font-size:36px;">Aprovar</i>');
                        $('#Aprovar').removeAttr('disabled');
                        $("#RetornoMsg").html(result);
                    }, 200);

                    setTimeout(function () {
                        $("#RetornoMsg").html('');
                    }, 3000);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }
    </script>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
