@page
@using Fortificar.Views.Projetos
@model Fortificar.Models.ViewModels.ProjetoViewModel
@{
    ViewData["Title"] = "Dados Gerais";
    ViewData["ActivePage"] = ProjetoNavPages.DadosProjetoNav;
}

<div class="row justify-content-center">
    <div class="col-10 mt-10">
        <div class="marginB card-body">
            <form asp-action="SalvarProjeto" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- 10. RESUMO DO PROJETO -->
                <h5 class="font-weight-bold">10. RESUMO DO PROJETO</h5>
                <h6 class="font-weight-bold">10.1 Objeto</h6>
                <div class="form-floating mb-3">
                    <input asp-for="Projeto.Objeto" class="form-control" placeholder="Objeto" />
                    <label asp-for="Projeto.Objeto">Objeto do Projeto</label>
                    <span asp-validation-for="Projeto.Objeto" class="text-danger"></span>
                </div>

                <h6 class="font-weight-bold">10.2 Objetivo Geral</h6>
                <div class="form-floating mb-3">
                    <input asp-for="Projeto.ObjetivoGeral" class="form-control" placeholder="Objetivo Geral" />
                    <label asp-for="Projeto.ObjetivoGeral">Objetivo Geral</label>
                    <span asp-validation-for="Projeto.ObjetivoGeral" class="text-danger"></span>
                </div>

                <h6 class="font-weight-bold">10.3 Objetivos Específicos</h6>
                <div class="form-floating mb-3">
                    <textarea asp-for="Projeto.ObjetivosEspecificos" class="form-control" placeholder="Objetivos Específicos" style="height: 150px;"></textarea>
                    <label asp-for="Projeto.ObjetivosEspecificos">Objetivos Específicos</label>
                    <span asp-validation-for="Projeto.ObjetivosEspecificos" class="text-danger"></span>
                </div>

                <h6 class="font-weight-bold">10.4 Público Beneficiário do Projeto</h6>
                <div class="form-floating mb-3">
                    <input asp-for="Projeto.PublicoBeneficiario" class="form-control" placeholder="Público Beneficiário do Projeto" />
                    <label asp-for="Projeto.PublicoBeneficiario">Público Beneficiário</label>
                    <span asp-validation-for="Projeto.PublicoBeneficiario" class="text-danger"></span>
                </div>

                <h6 class="font-weight-bold">10.5 Justificativa</h6>
                <div class="form-floating mb-3">
                    <textarea asp-for="Projeto.Justificativa" class="form-control" placeholder="Justificativa" style="height: 150px;"></textarea>
                    <label asp-for="Projeto.Justificativa">Justificativa do Projeto</label>
                    <span asp-validation-for="Projeto.Justificativa" class="text-danger"></span>
                </div>

                <h6 class="font-weight-bold">10.6 Equipe de Profissionais que Atuarão na Execução do Projeto</h6>
                <!-- Equipe de Profissionais -->
                <table class="table" id="equipeProfissionaisTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Formação</th>
                            <th>Função</th>
                            <th>Carga Horária Semanal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input asp-for="EquipeExecucao[0].Nome" class="form-control" />
                                <span asp-validation-for="EquipeExecucao[0].Nome" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="EquipeExecucao[0].CPF" class="form-control" />
                                <span asp-validation-for="EquipeExecucao[0].CPF" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="EquipeExecucao[0].Formacao" class="form-control" />
                                <span asp-validation-for="EquipeExecucao[0].Formacao" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="EquipeExecucao[0].Funcao" class="form-control" />
                                <span asp-validation-for="EquipeExecucao[0].Funcao" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="EquipeExecucao[0].CargaHorariaSemanal" class="form-control" />
                                <span asp-validation-for="EquipeExecucao[0].CargaHorariaSemanal" class="text-danger"></span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" onclick="addEquipeProfissionais()">Adicionar Profissional</button>
                <br />                        <br />


                <h6 class="font-weight-bold">10.7 Período de Execução do Projeto</h6>

                <div class="row">
                    <div class="col">
                        <label asp-for="Projeto.InicioExecucao" class="control-label"></label>
                        <input asp-for="Projeto.InicioExecucao" class="form-control" placeholder="Início em: " />
                        <span asp-validation-for="Projeto.InicioExecucao" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Projeto.TerminoExecucao" class="control-label"></label>
                        <input asp-for="Projeto.TerminoExecucao" class="form-control" placeholder="Término em: " />
                        <span asp-validation-for="Projeto.TerminoExecucao" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <!-- 10.8 CRONOGRAMA FÍSICO-FINANCEIRO -->
                <h6 class="font-weight-bold">10.8 CRONOGRAMA FÍSICO-FINANCEIRO DE EXECUÇÃO DO PROJETO</h6>
                <table class="table table-bordered" id="cronogramaFisicoFinanceiroTable">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                Meta:<br>
                                <input asp-for="Cronograma[0].Meta" class="form-control" />
                                <span asp-validation-for="Cronograma[0].Meta" class="text-danger"></span>
                            </td>
                            <td colspan="2">
                                Valor:<br>
                                <input asp-for="Cronograma[0].ValorMeta" class="form-control" />
                                <span asp-validation-for="Cronograma[0].ValorMeta" class="text-danger"></span>
                            </td>
                            <th></th>
                        </tr>
                        <tr>
                            <td colspan="5">
                                Indicador(es): <br />
                                <textarea asp-for="Cronograma[0].Indicadores" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Cronograma[0].Indicadores" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="2" class="align-middle text-center">Etapas/Atividades</th>
                            <th rowspan="2" class="align-middle text-center">Valor</th>
                            <th colspan="2" class="text-center">Período de Execução</th>
                        </tr>
                        <tr>
                            <th>Início</th>
                            <th>Término</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <input asp-for="Cronograma[0].Etapas" class="form-control" />
                                <span asp-validation-for="Cronograma[0].Etapas" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Cronograma[0].ValorEtapa" class="form-control" />
                                <span asp-validation-for="Cronograma[0].ValorEtapa" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Cronograma[0].Inicio" class="form-control" type="date" />
                                <span asp-validation-for="Cronograma[0].Inicio" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="Cronograma[0].Termino" class="form-control" type="date" />
                                <span asp-validation-for="Cronograma[0].Termino" class="text-danger"></span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" onclick="addCronograma()">Adicionar Etapa/Atividade</button>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function addEquipeProfissionais() {
            var container = document.getElementById("equipeProfissionaisTable").getElementsByTagName('tbody')[0];
            var row = container.insertRow();
            var index = container.rows.length + 1;

            row.innerHTML = `
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Nome" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Nome" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Formacao" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Formacao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].CPF" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].CPF" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Funcao" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Funcao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>`;
        }


        function addCronograma() {
            var container = document.getElementById("cronogramaFisicoFinanceiroTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                        <td>
                            <input asp-for="Cronograma[${index}].Etapas" class="form-control" />
                            <span asp-validation-for="Cronograma[${index}].Etapas" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Cronograma[${index}].ValorEtapa" class="form-control" />
                            <span asp-validation-for="Cronograma[${index}].ValorEtapa" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Cronograma[${index}].Inicio" class="form-control" type="date" />
                            <span asp-validation-for="Cronograma[${index}].Inicio" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Cronograma[${index}].Termino" class="form-control" type="date" />
                            <span asp-validation-for="Cronograma[${index}].Termino" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>`;
        }

        function addEquipeExecucao() {
            var container = document.getElementById("equipeExecucaoTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Nome" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Nome" class="text-danger"></span>
                        </td><td>
                            <input asp-for="EquipeExecucao[${index}].CPF" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].CPF" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Formacao" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Formacao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].Funcao" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].Funcao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="form-control" />
                            <span asp-validation-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>`;
        }


        function removeRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }


    </script>

}
