@page
@using Fortificar.Views.Projetos
@model Fortificar.Models.ViewModels.ProjetoViewModel
@{
    ViewData["Title"] = "12. FOTOS DO PROJETO/INSTITUIÇÃO";
    ViewData["ActivePage"] = ProjetoNavPages.FotosNav;
}

<div class="row justify-content-center">
    <div class="col-10 mt-10">
        <div class="marginB card-body">
            <form asp-action="SalvarProjeto" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- 12. FOTOS DO PROJETO/INSTITUIÇÃO -->
                <h5 class="font-weight-bold">@ViewData["Title"]</h5>

                <div class="form-group">
                    <label for="anexo">Selecione uma imagem:</label>
                    <input asp-for="Anexo.Imagem" type="file" name="anexo" id="anexo" class="form-control" accept=".jpg, .jpeg, .png" />
                    <span asp-validation-for="Anexo" class="text-danger"></span>
                    <span class="text-success" id="uploadMessage"></span>
                </div>
                <button type="button" id="uploadButton" class="btn btn-primary">Anexar</button>

                <!-- Botão de Envio -->
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-primary">Criar Projeto</button>
                        </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        $(document).ready(function () {
            $('#uploadButton').click(function () {
                var formData = new FormData();
                var fileInput = $('#anexo')[0];

                if (fileInput.files.length > 0) {
                    formData.append('anexo', fileInput.files[0]);

                    $.ajax({
                        url: '@Url.Action("Upload", "Projetos")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                $('#uploadMessage').text(response.message);
                                // Verifique se o id está corretamente retornado na resposta
                                /*
                                if (response.id) {
                                    // Definindo o src da imagem para o endpoint que retorna a imagem
                                    $('#minhaImagem').attr('src', '@Url.Action("ExibirImagem", "Projetos")?id=' + response.id);
                                } else {
                                    console.log('ID não encontrado na resposta.');
                                }*/
                            } else {
                                $('#uploadMessage').text(response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#uploadMessage').text('Erro ao enviar o arquivo: ' + error);
                        }
                    });
                } else {
                    $('#uploadMessage').text('Por favor, selecione um arquivo para anexar.');
                }
            });
        });


    </script>

}

