@page
@using Fortificar.Views.Projetos
@model Fortificar.Models.ViewModels.ProjetoViewModel
@{
    ViewData["Title"] = "4. CONHECENDO O PROPONENTE";
    ViewData["ActivePage"] = ProjetoNavPages.ProponenteNav;
}

<div class="row justify-content-center">
    <div class="col-10 mt-10">
        <div class="marginB card-body">
            <form asp-action="SalvarProjeto" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- 4. CONHECENDO O PROPONENTE -->
                <h5 class="font-weight-bold">@ViewData["Title"]</h5>
                <div class="form-floating mb-3">
                    <textarea asp-for="Proponente.Historico" class="form-control" placeholder="Breve histórico e finalidade da OSC" style="height: 150px;"></textarea>
                    <label asp-for="Proponente.Historico">Breve histórico e finalidade da OSC</label>
                    <span asp-validation-for="Proponente.Historico" class="text-danger"></span>
                </div>

                <!-- 5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE -->
                <h5 class="font-weight-bold">5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE</h5>
                <div class="form-floating mb-3">
                    <textarea asp-for="Proponente.PrincipaisAcoes" class="form-control" placeholder="Principais Ações" style="height: 150px;"></textarea>
                    <label asp-for="Proponente.PrincipaisAcoes">Principais Ações</label>
                    <span asp-validation-for="Proponente.PrincipaisAcoes" class="text-danger"></span>
                </div>

                <!-- 6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE -->
                <h5 class="font-weight-bold">6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE</h5>
                <div class="form-floating mb-3">
                    <input asp-for="Proponente.PublicoAlvo" class="form-control" placeholder="Público Alvo" />
                    <label asp-for="Proponente.PublicoAlvo">Público Alvo</label>
                    <span asp-validation-for="Proponente.PublicoAlvo" class="text-danger"></span>
                </div>

                <!-- 7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS) -->
                <h5 class="font-weight-bold">7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS)</h5>
                <div class="form-floating mb-3">
                    <textarea asp-for="Proponente.RegioesAtendimento" class="form-control" placeholder="Regiões de Atendimento" style="height: 150px;"></textarea>
                    <label asp-for="Proponente.RegioesAtendimento">Regiões de Atendimento</label>
                    <span asp-validation-for="Proponente.RegioesAtendimento" class="text-danger"></span>
                </div>

                <!-- 8. INFRAESTRUTURA DA PROPONENTE -->
                <h5 class="font-weight-bold">8. INFRAESTRUTURA DA PROPONENTE</h5>
                <div class="form-floating mb-3">
                    <textarea asp-for="Proponente.Infraestrutura" class="form-control" placeholder="Infraestrutura" style="height: 150px;"></textarea>
                    <label asp-for="Proponente.Infraestrutura">Infraestrutura</label>
                    <span asp-validation-for="Proponente.Infraestrutura" class="text-danger"></span>
                </div>

                <!-- 9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE -->
                <h5 class="font-weight-bold">9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE</h5>
                <div class="form-floating mb-3">
                    <textarea asp-for="Proponente.EquipeMultidisciplinar" class="form-control" placeholder="Equipe Multidisciplinar" style="height: 150px;"></textarea>
                    <label asp-for="Proponente.EquipeMultidisciplinar">Equipe Multidisciplinar</label>
                    <span asp-validation-for="Proponente.EquipeMultidisciplinar" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
