@page
@using Fortificar.Views.Projetos
@model Fortificar.Models.ViewModels.ProjetoViewModel
@{
    ViewData["Title"] = "3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO PELO PROPONENTE";
    ViewData["ActivePage"] = ProjetoNavPages.ResponsavelTecnicoNav;
}

<div class="row justify-content-center">
    <div class="col-10 mt-10">
        <div class="marginB card-body">
            <form asp-action="SalvarProjeto" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- 3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO PELO PROPONENTE -->
                <h5 class="font-weight-bold">@ViewData["Title"]</h5>
                <div class="row">
                    <div class="col-8">
                        <!-- Responsável Técnico -->
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.Nome" class="form-control" placeholder="Nome do Responsável Legal" />
                            <label asp-for="ResponsavelTecnico.Nome">Nome do Responsável Legal</label>
                            <span asp-validation-for="ResponsavelTecnico.Nome" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.CPF" class="form-control" placeholder="CPF" />
                            <label asp-for="ResponsavelTecnico.CPF">CPF</label>
                            <span asp-validation-for="ResponsavelTecnico.CPF" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.RG" class="form-control" placeholder="RG" />
                            <label asp-for="ResponsavelTecnico.RG">RG</label>
                            <span asp-validation-for="ResponsavelTecnico.RG" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                            <label asp-for="ResponsavelTecnico.OrgaoExpedidor">Órgão Expedidor</label>
                            <span asp-validation-for="ResponsavelTecnico.OrgaoExpedidor" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                            <label asp-for="ResponsavelTecnico.CargoOSC">Cargo OSC</label>
                            <span asp-validation-for="ResponsavelTecnico.CargoOSC" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                            <label asp-for="ResponsavelTecnico.MandatoVigente">Mandato Vigente</label>
                            <span asp-validation-for="ResponsavelTecnico.MandatoVigente" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.Endereco" class="form-control" placeholder="Endereço" />
                            <label asp-for="ResponsavelTecnico.Endereco">Endereço</label>
                            <span asp-validation-for="ResponsavelTecnico.Endereco" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.Telefone1" class="form-control" placeholder="Telefone 1" />
                            <label asp-for="ResponsavelTecnico.Telefone1">Telefone 1</label>
                            <span asp-validation-for="ResponsavelTecnico.Telefone1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.Telefone2" class="form-control" placeholder="Telefone 2" />
                            <label asp-for="ResponsavelTecnico.Telefone2">Telefone 2</label>
                            <span asp-validation-for="ResponsavelTecnico.Telefone2" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input disabled asp-for="ResponsavelTecnico.Telefone3" class="form-control" placeholder="Telefone 3" />
                            <label asp-for="ResponsavelTecnico.Telefone3">Telefone 3</label>
                            <span asp-validation-for="ResponsavelTecnico.Telefone3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
