html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Open Sans", 'Helvetica', 'Arial', 'sans-serif';
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


#scrollTopButton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #555; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#scrollTopButton:hover {
    background-color: #333; /* Mudança de cor ao passar o mouse */
}



.navbar-custom {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.navbar-brand img {
    max-height: 75px;
}

.navbar-nav .nav-link {
    color: #02ca94;
}

.navbar-nav .nav-item:hover .nav-link {
    color: white;
}


#scrollTopButton:hover {
    background-color: #0056b3;
}

.top-bar {
    background-color: #02ca94;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.top-bar a {
    color: white !important; /* Mantém os links brancos */
}
.top-bar a:hover {
    text-decoration: underline;
}

.top-bar text-end {
    font-weight: bold;
}

header{
    margin-bottom: 25px;
}

.nav-link {
    color: #515151;
    font-family: "Archivo", 'Helvetica', 'Arial', 'sans-serif';
}
    .nav-link:hover {
        color: #4fb96a;
    }


footer {
    color: #3C4349;
    background-color: #f4f4f4;
}

.footer-logo {
    flex: 1;
    margin: 20px;
    height: 75px;
    display: flex;
}

.marginB{
    margin-bottom:100px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}
    .checkbox-grid input{
        margin-right: 10px;
    }

    .checkbox-grid .form-check {
        display: flex;
        align-items: center;
    }
